*{
    padding: 3px 15px;
}
input:invalid {
    border: 2px dashed rgb(255, 187, 0);
}
  
input:invalid:required {
background-image: #828282;
}

input:valid {
border: 2px solid black;
}

textarea:invalid {
border: 2px dashed rgb(255, 187, 0);
}

textarea:invalid:required{
background-image: #828282;
}

textarea:valid {
border: 2px solid black;
}
  
.red{
	color: #ff0000;
}

label{
  text-align: center;
}

p{
  text-align: center;
}

h2{
  text-align: center;
}

form{
  text-align: center;
  width: 600px;
  border: 2px solid #000;
  margin: auto;
}

.copy-right-sec{
	padding: 1.8rem;
  color: #fff;
  text-align: center;
  width: 600px;
  border: 1px solid #000;
  margin: auto;
}
.copy-right-sec a{
	color: rgb(255, 187, 0);
  font-weight: 500;
}
a{
  text-decoration:none;
}